html, body {
  height: 100%;
  margin: 0;
}

body {
  margin: .5rem;
  background-color: #93b8d7;
  color: white;
  text-align: center;
}

nav {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

nav a {
  color: white;
  font-size: 2.5rem;
  margin-right: .5em;
  text-decoration: none;
}

#social-links {
  display: none;
}

main {
  text-align: center;
  margin-top: 23vh;
  font-family: 'Kaushan Script', fantasy;
}

main h1 {
  font-size: 4rem;
  margin: 0;
}

main h2 {
  font-size: 2rem;
  margin-top: 2em;
}

footer {
  display: none;
}

@media (min-width: 598px) {
  #hamburger-menu {
    display: none;
  }

  #social-links {
    display: block;
  }
}

@media (min-width: 768px) {
  html {
    height: 100%;
  }

  body {
    background-image: url('../img/splash-md.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
  }

  main {
    text-shadow: 1px 1px #153c43;
  }

  footer {
    display: block;
    position: fixed;
    bottom: 0;
    right: 0;
  }
}

@media (min-width: 992px) {
  body {
    background-image: url('../img/splash-lg.jpg');
  }

  nav a {
    font-size: 1.5rem;
  }

  main h1 {
    font-size: 5rem;
  }

  main h2 {
    font-size: 3rem;
  }
}

@media (min-width: 1200px) {
    body {
        background-image: url('../img/splash-xl.jpg');
    }
}